.background {
    z-index:-1;
    position: fixed;
    background:url("images/background.png");
    animation:2.2s scroll infinite linear;
    top:0;
    left:0;
    width: 840px;
    height: 100%;   
}
@keyframes scroll{
    100%{
      background-position:0px 2504px;
    }
  }
canvas {
    background: transparent;
}