#restart {
    
    height: 50px;
    width: 100px;
    margin: 0 auto;
}
.background {
    z-index:-1;
    position: fixed;
    background:url("images/background.png");
    animation:2.2s scroll infinite linear;
    top:0;
    left:18.5%;
    width: 840px;
    height: 100%;   
}
@keyframes scroll{
    100%{
      background-position:0px 2504px;
    }
  }
@font-face {
    font-family: "lazer";
    src: url("misc/Lazer84.ttf");
}
@font-face {
    font-family: "streamster";
    src: url("misc/Streamster.ttf");
}
@font-face {
    font-family: "vcr";
    src: url("misc/vcrmono.ttf");
}

canvas {
    background: transparent;
    left: 50%;
}
.container {
    width: 100%;
    text-align: center;
}
body {
    background: black;
}
/*
#testLazer {
    font-family: "lazer84";
    font-size: 60px;
    color: #24006D;
}

#testStreamster {
    font-family: "streamster";
    font-size: 70px;
    color: #EE209A;
}
#vcr {
    font-family: "vcr";
    font-size: 70px;
    color: white;
}*/