.centered {
    text-align: center;
}
#title {
    font-size:50;
}
#subtitle {
    font-size:25;
}
#content {
text-decoration: underline;
}
.monospaced {
    font-family: monospace;
}
div {
    background-color: grey;
}