/*.container {
    height: 650px;
    width:840px;
    overflow: hidden;
}
#test {
    width: 840px;
    background: url("background.png") repeat-x;
    height: 1300px;
    animation: slide 60s scroll linear infinite;
}
@keyframes slide {
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(0, -840, 0); 
    }
}
*/
.overlay {
    position: fixed;
    background:url("background.png");
    animation:100s scroll infinite linear;
    top:0;
    left:0;
    width: 840px;
    height: 100%;   
}
@keyframes scroll{
    100%{
      background-position:0px -3000px;
    }
  }